In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Review: Arrays

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
sum(my_array) / len(my_array)

In [ ]:
np.average(my_array)

In [ ]:
another = make_array(70, 60, 90, 80)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
tunas * 4

In [ ]:
tunas.item(0) # NOTE: indexing starts at 0!

In [ ]:
tunas.item(2)

In [ ]:
tunas.item(3)

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries_2021.csv').relabel(3, "Salary")
nba

In [ ]:
bulls = nba.where('Team', 'Chicago Bulls')
bulls

In [ ]:
bulls.select('Salary')

In [ ]:
bulls.column('Salary')

In [ ]:
np.average(bulls.column('Salary'))

In [ ]:
warriors = nba.where('Team', 'Golden State Warriors')

In [ ]:
np.average(bulls.column('Salary')) - np.average(warriors.column('Salary'))

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Michigan', 'Wabash', 'State', 'Dearborn')
streets

In [ ]:
Table()

In [ ]:
downtown = Table().with_column('Streets', streets)
downtown

In [ ]:
downtown.with_column('Blocks from the Bean', np.arange(4))

In [ ]:
downtown

In [ ]:
downtown = downtown.with_column('Blocks from the Bean', np.arange(4))
downtown

In [ ]:
Table().with_columns(
    'Streets', streets,
    'Blocks from the Bean', np.arange(4)
)

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois.with_columns('Food $', food_dollars)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

du_bois = du_bois.with_columns('Food $', food_dollars)

du_bois

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.labels

In [ ]:
du_bois.num_rows

## Table Practice: Welcome Survey

In [ ]:
welcome = Table.read_table('welcome_survey_sp21.csv').drop("Timestamp")
welcome.show(5)

In [ ]:
# On average, how many countries have introverts visited?
introverts = welcome.where('intro_extra', 'Introverted')
np.average(introverts.column('countries'))

In [ ]:
# How many students get at least 8 hours of sleep each night (on average)?
# First way:
welcome.where('sleep', are.above_or_equal_to(8)).num_rows

In [ ]:
# Second way
np.count_nonzero(welcome.column('sleep') >= 8)

In [ ]:
# Third way
np.sum(welcome.column('sleep') >= 8)

In [ ]:
# Create a table with only the 'sleep' and 'intro_extra' columns
two_col = welcome.select('sleep', 'intro_extra')
two_col = two_col.relabeled(0, 'Avg Hours of Sleep').relabeled(1, 'Introversion/Extraversion')
two_col.show(3)

## Discussion Question: NBA Salaries

In [ ]:
nba = Table.read_table('nba_salaries_2021.csv')
nba = nba.drop('Team')
nba.show(3)

In [ ]:
# Question (a)

In [ ]:
# Question (b)

## Census ##

In [ ]:
full = Table.read_table('nc-est2014-agesex-res.csv')
full

In [ ]:
partial = full.select('SEX', 'AGE', 'CENSUS2010POP', 'POPESTIMATE2014')
partial.show(4)

In [ ]:
simple = partial.relabeled(2, '2010').relabeled(3, '2014')
simple.show(4)

In [ ]:
simple.sort('AGE')

In [ ]:
simple.sort('AGE', descending=True)

## Visualization ##

In [ ]:
no_999 = simple.where('AGE', are.below(999))
everyone = no_999.where('SEX', 0).drop('SEX')

In [ ]:
everyone

In [ ]:
everyone.plot('AGE', '2010')

In [ ]:
du_bois.num_columns